.LoginForm {
    display: flex;
    flex-direction: column;
    width: 35vw;
}

.error {
    margin-top: 0.5vw;
}

.title {
    margin-top: 0.5vw;
}

.title:first-child {
    margin-top: 0;
}

.btn {
    margin-top: 1vw;
}
