@import "reset";
@import "global";
@import "themes/light";
@import "themes/dark";

.app {
    font: var(--font-m);
    background: var(--bg-light);
    color: var(--primary-color);
    min-height: 100dvh;
}

.wrapper {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 2.5vw;
}
