.primary {
    color: var(--primary-color);
}

.light {
    color: var(--secondary-color);
}

.error {
    color: var(--color-error);
}

.M {
    font: var(--font-m);
}

.L {
    font: var(--font-l);
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}
