.Button {
    font: var(--font-m);
    cursor: pointer;
    padding: 0.25vw 1vw;
    color: var(--secondary-color);
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.border {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 0.25vw;
    background: var(--bg-light);
}

.border:hover {
    color: var(--bg-light);
    background: var(--primary-color);
    transition: 0.5s;
}

.border:active {
    transform: translateY(-0.150vw);
}

.border_red {
    border: 1px solid var(--color-error);
    color: var(--color-error);
    background: none;
}

.background {
    color: var(--bg-light);
    border: 1px solid var(--primary-color);
    border-radius: 0.25vw;
    background: var(--primary-color);
}

.background:hover {
    border: 1px solid var(--primary-color-hover);
    background: var(--primary-color-hover);
    transition: 0.5s;
}

.background:active {
    transform: translateY(-0.150vw);
}


.M {
    font: var(--font-m);
}

.L {
    font: var(--font-l);
}

.disabled {
    opacity: 0.5;
}
