.SideBar {
    height: calc(100vh - var(--header-height));
    width: var(--sidebar-width);
    border-right: 1px solid var(--border);
    background: var(--bg-dark);
    position: relative;
    transition: width 0.3s;
}

.collapsed {
    width: var(--sidebar-width-collapsed);
}

.collapseBtn {
    position: absolute;
    right: -15px;
    bottom: 40px;
}

.icon {
    height: calc(10px + 0.66vw);
}
