:root {
    --bg-dark: #c3cce3;
    --bg-light: #fff;
    --primary-color: #3b7bff;
    --primary-color-hover: #0042d7;
    --secondary-color: #000;
    --border: #b0c0e5;
    --placeholder: #7b90b9;
}
