.select {
    background: none;
    outline: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.option {
    color: var(--primary-color);
    background: var(--bg-light);
}

.readOnly {
    opacity: 0.7;
}
