.dark {
    --bg-dark: #292d36;
    --bg-light: #566173;
    --primary-color: #67deff;
    --primary-color-hover: #fff;
    --secondary-color: #fff;
    --border: #4a5162;
    --placeholder: #8f9baf;
}
