:root,
.app.dark {
    --bg-color: #3d4450;
    --inverted-bg-color: #20232a;
    --primary-color: #cd66cd;
    --inverted-primary-color: #61dafb;
    --secondary-color: #2864e1;
    --inverted-secondary-color: #20232a;
}
