:root,
.app.light {
    --bg-color: #96b3ff;
    --inverted-bg-color: #fff;
    --primary-color: #2864e1;
    --inverted-primary-color: #20232a;
    --secondary-color: #cd66cd;
    --inverted-secondary-color: #61dafb;
}
