.Header {
    height: var(--header-height);
    width: 100%;
    background: var(--bg-dark);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;
    padding: 2vw;
}

.navigation {
    margin-left: auto;
    padding-left: 2vw;
}

.menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 2vw;
}

.item {
    margin-left: 1.5vw;
    display: flex;
}

.item:first-child {
    margin-left: 0;
}
