.Header {
    height: var(--header-height);
    background: var(--bg-dark);
    display: flex;
    align-items: center;
    padding: 20px;
}

.navigation {
    margin-left: auto;
    padding-left: 20px;
}

.menu {
    margin-left: auto;
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.item {
    margin-left: 20px;
    display: flex;
}

.item:first-child {
    margin-left: 0;
}
