.Header {
    height: var(--header-height);
    background: var(--bg-dark);
    display: flex;
    align-items: center;
    padding: 20px;
}

.links {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.menu {
    margin-left: 20px;
}

.menu:first-child {
    margin-left: 0;
}
