.ErrorThrower {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--bg-light);
}

.title {
    font: var(--font-m);
    color: var(--primary-color);
}

.reloadBtn {
    margin-top: 10px;
}
