.NotFoundPage {
    font-size: var(--font-l);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item {
    margin-top: 10px;
}

.item:first-child {
    margin-top: 0;
}
